<p>games works!</p>

<div class="container d-flex justify-content-evenly row row-cols-1 row-cols-lg-3 text-center">
    <div class="col mt-3">
        <a type="button" class="btn btn-secondary w-50" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top" routerLink="action">
            <i class="fab fa-xbox"></i>   Action
        </a>
    </div>

    <div class="col mt-3">
        <button type="button" class="btn btn-secondary w-50" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
            <i class="fas fa-crown"></i>  Card
        </button>
    </div>

    <div class="col mt-3">
        <button type="button" class="btn btn-secondary w-50" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
            <i class="fab fa-fantasy-flight-games"></i>  Fantasy
        </button>
    </div>

    <div class="col mt-3">
        <button type="button" class="btn btn-secondary w-50" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">
            <i class="fas fa-fighter-jet"></i>  Fighting
        </button>
    </div>

    <div class="col mt-3">
        <button type="button" class="btn btn-secondary w-50" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
            <i class="fas fa-gem"></i>  MMORPG
        </button>
    </div>
    
    <div class="col mt-3">
        <button type="button" class="btn btn-secondary w-50" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
            <i class="fas fa-hat-wizard"></i>  MMO
        </button>
    </div>
    
    <div class="col mt-3">
        <button type="button" class="btn btn-secondary w-50" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
            <i class="fas fa-broom"></i>  MOBA
        </button>
    </div>
    
    <div class="col mt-3">
        <button type="button" class="btn btn-secondary w-50" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">
            <i class="fas fa-khanda"></i>  Shooter
        </button>
    </div>

    <div class="col mt-3">
        <button type="button" class="btn btn-secondary w-50" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top">
            <i class="fas fa-poll"></i>  Social
        </button>
    </div>

    <div class="col mt-3">
        <button type="button" class="btn btn-secondary w-50" data-bs-toggle="tooltip" data-bs-placement="left" title="Tooltip on left">
            <i class="fas fa-bowling-ball"></i>  Sports
        </button>
    </div>
    
    <div class="col mt-3">
        <button type="button" class="btn btn-secondary w-50" data-bs-toggle="tooltip" data-bs-placement="right" title="Tooltip on right">
            <i class="fas fa-running"></i>  Strategy
        </button>
    </div>
    
    <div class="col mt-3">
        <button type="button" class="btn btn-secondary w-50" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tooltip on bottom">
            <i class="fas fa-biking"></i>  Racing
        </button>
    </div>

</div>

<div class="container mb-5 mt-5">
    <router-outlet></router-outlet>
</div>